<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}

</style>

	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				
				<section>
					<p>Hey, and welcome to my corner of the web! I'm a Growth/Product enthusiast and amateur human, exploring and building the world and its web. Find out more about me at <a href="/about">/about</a>.
                                          *I dream of making a TON of money with computers and then possibly never touching a computer ever again, hehe jk*
			<br> Join me as I document interesting things for my future self and create engaging content. I plan to be more active through my writings here:</p>



					
					{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
					{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
					{{ range $paginator.Pages }}
					<section class="list-item">
						<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
						<time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
						<br>{{ template "partials/pagedescription.html" . }}
					</section>
					{{ end }}
					{{ template "partials/paginator.html" . }}
				</section>
				
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
