<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<style>
		.left-image {
			float: left;
			width: 15%;
			margin-right: 20px;
			margin-bottom: 30px;
		}
	</style>
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				
				<section>
					<img src="/support/h.jpg" alt="harshc" class="left-image">
					
					<p>Hey, and welcome to my modest corner of the web. This is my weblog about me exploring and building the world and its wide web. I am a Growth/Product person and an amateur human. You can learn more about me at <a href="/about">/about</a>.
			<br> Here are the things that I have been documenting that I find interesting for my future self. I plan to be more active through my writing here:</p>
					
					{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
					{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
					{{ range $paginator.Pages }}
					<section class="list-item">
						<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
						<time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
						<br>{{ template "partials/pagedescription.html" . }}
						<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
					</section>
					{{ end }}
					{{ template "partials/paginator.html" . }}
				</section>
				
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
