<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}

</style>

	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				
				<section>
					<p>Hey, welcome to my little corner of the web! I’m a Growth/Product enthusiast and an amateur human just out here trying to figure out both the world and the web. Want to know more? Head over to <a href="/about">/about</a>.
                                  
			<br> I dream of making a TON of money with computers, and then… maybe never touching one again (just kidding… or am I?).

			<br> Stick around as I document cool stuff for my future self and try to create content that’s as engaging as my playlist. I promise to be more active; well, at least through my writing here!</p>



					
					{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
					{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
					{{ range $paginator.Pages }}
					<section class="list-item">
						<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
						<time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
						<br>{{ template "partials/pagedescription.html" . }}
					</section>
					{{ end }}
					{{ template "partials/paginator.html" . }}
				</section>
				
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
